/* Custom bg for dynamic weather */

.bg-rainy{
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
.bg-clear{
    background-image: linear-gradient(to top, #a1c4fd 0%, #c2e9fb 100%);
}
.bg-clouds{
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.bg-rainy, .bg-clear, .bg-clouds{
    transition: background-image 1s ease-in-out;
}