/* Custom bg for dynamic weather */

.bg-rainy {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("/img/Rain.jpeg");
}
.bg-clear {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("/img/sunny.jpeg");
}
.bg-clouds {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("/img/Cloudy.jpeg");
}

.bg-rainy,
.bg-clear,
.bg-clouds {
  background-size: cover;
  background-position: center;
  transition: background-image 1s ease-in-out;
}
